<footer class="footer">
    <div class="container footer-grid">
      <!-- Columna 1: Logo e Info -->
      <div class="footer-col">
        <img src="/assets/images/global/logo.png" alt="Logo C&E IPS S.A.S" class="footer-logo">
        <p>Comprometidos con tu salud y la de tu familia, ofreciendo un servicio humano y de calidad.</p>
      </div>
  
      <!-- Columna 2: Enlaces Rápidos -->
      <div class="footer-col">
        <h4>Enlaces Rápidos</h4>
        <ul>
          <li><a href="/services">Servicios</a></li>
          <li><a href="/bussiness">Empresa</a></li>
          <li><a href="/question">Preguntas Frecuentes</a></li>
        </ul>
      </div>
  
      <!-- Columna 3: Contacto -->
      <div class="footer-col">
        <h4>Contacto</h4>
        <ul>
          <li><i class="bi bi-geo-alt-fill"></i>Cali, Colombia</li>
          <li><i class="bi bi-telephone-fill"></i> +57 315 105 4448</li>
          <li><i class="bi bi-envelope-fill"></i> gerencia@ipscuidandodeti.com</li>
        </ul>
      </div>
  
      <!-- Columna 4: Redes Sociales -->
      <div class="footer-col">
        <h4>Síguenos</h4>
        <div class="social-links">
          <a href="https://www.facebook.com/profile.php?id=61579108148916" aria-label="Facebook"><i class="bi bi-facebook"></i></a>
          <a href="https://www.instagram.com/cuidandodeticeips" aria-label="Instagram"><i class="bi bi-instagram"></i></a>
          <a href="#" aria-label="tiktok"><i class="bi bi-tiktok"></i></a>
          <a href="#" aria-label="X"><i class="bi bi-twitter-x"></i></a>
          <a href="#" aria-label="LinkedIn"><i class="bi bi-linkedin"></i></a>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <div class="container">
        <p>&copy; {{ currentYear }} C&E IPS S.A.S. Todos los derechos reservados. - Desarrollado por: <b><a href="https://www.vooltlab.com">VooltLab Software</a></b></p>
        <p><a href="#">Términos y Condiciones</a> | <a href="#">Política de Privacidad</a></p>
      </div>
    </div>
  </footer>